@mixin breakpoint($size) {
	@if $size == sm {
		@media (max-width: 576px) {
			@content;
		}
	}

	@if $size == md {
		@media (max-width: 768px) {
			@content;
		}
	}

	@if $size == lg {
		@media (max-width: 992px) {
			@content;
		}
	}

	@if $size == xl {
		@media (max-width: 1200px) {
			@content;
		}
	}

	@if $size == 2xl {
		@media (max-width: 1400px) {
			@content;
		}
	}
}
